.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 10px;

  font-weight: normal;
  font-size: 10px;

}

.contacts__adress,
.contacts__phone,
.contacts__mail,
.contacts__whatsapp {
  flex-basis: 130px;

  margin-bottom: 10px;
}

.contacts__adress {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.contacts__adress--icon {
  margin-right: 10px;

  align-self: center;
}

.contacts__phone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.contacts__phone--icon {
  margin-right: 10px;

  align-self: center;
}

.contacts__mail {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.contacts__mail--icon {
  margin-right: 10px;

  align-self: center;
}

.contacts__whatsapp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.contacts__whatsapp--icon {
  margin-right: 10px;

  align-self: center;
}
