.how-find-us-block {
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url(../img/find-us-mobile-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .how-find-us-block {
    background-image: url(../img/find-us-mobile-bg@2x.jpg);
  }
}
