.main-header {
  position: relative;

  padding-top: 21px;
  padding-bottom: 15px;
}

.main-header__title  {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.main-header__toggle-menu {
  position: absolute;
  top: 0px;
  left: 239px;

  width: 21px;
  height: 14px;
}
 // hover toggle-menu--close
.main-header__toggle-menu:hover .main-header__toggle-menu--close {
    background-color: red;
}

.main-header__toggle-menu:hover .main-header__toggle-menu--close::after {
    background-color: red;
}

.main-header__toggle-menu:hover .main-header__toggle-menu--close::before {
    background-color: red;
}
// focus toggle-menu--close
.main-header__toggle-menu:focus .main-header__toggle-menu--close {
    background-color: red;
}

.main-header__toggle-menu:focus .main-header__toggle-menu--close::after {
    background-color: red;
}

.main-header__toggle-menu:focus .main-header__toggle-menu--close::before {
    background-color: red;
}

// hover toggle-menu--open
.main-header__toggle-menu:hover .main-header__toggle-menu--open {
    background-color: red;
}

.main-header__toggle-menu:hover .main-header__toggle-menu--open::before {
    background-color: red;
}

// -----------------------------------------------------------------------
.main-header__toggle-menu--close {
  position: absolute;
  top: 6px;
  left: 0;

  width: 21px;
  height: 2px;

  background-color: #000000;
}

.main-header__toggle-menu--close::before {
  content: "";

  position: absolute;
  top: -6px;

  width: 21px;
  height: 2px;

  background-color: #000000;
}

.main-header__toggle-menu--close::after {
  content: "";

  position: absolute;
  top: 6px;

  width: 21px;
  height: 2px;

  background-color: #000000;
}

.main-header__toggle-menu--open {
  position: absolute;
  top: 6px;
  left: 1px;

  display: block;
  width: 20px;
  height: 2px;

  background-color: #000000;
  transform: rotate(45deg);
}

.main-header__toggle-menu--open::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 2px;

  background-color: #000000;
  transform: rotate(-90deg);
}
