.promo-block-services {
  padding-top: 15px;
  padding-bottom: 34px;

  background-image: url(../img/services-movers-mobile-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-block-services__descr {

}

.promo-block-services__title {
  margin-bottom: 6px;

  text-transform: uppercase;

  span {
    font-weight: normal;
  }
}

.promo-block-services__cost {
  margin-top: 6px;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 18px;
  color: yellow;
}
