.promo__title {
  margin-bottom: 6px;

  text-transform: uppercase;

  span {
    font-weight: normal;
  }
}

.promo__cost {
  margin-top: 6px;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 18px;
  color: yellow;
}

.promo__title-invert {
  color: #000000;
}

.promo__title .promo__title-invert {
  font-weight: inherit;
  color: #000000;
}
