.promo-block-office-movies {
  margin-bottom: 30px;
  padding-top: 107px;
  padding-bottom: 34px;

  background-image: url(../img/office-movies-mobile-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo-block-office-movies {
    background-image: url(../img/office-movies-mobile-bg@2x.jpg);
  }
}

@media @tablet-widths {

  .promo-block-office-movies {
    margin-bottom: 40px;
    padding-top: 126px;
    padding-bottom: 44px;

    background-image: url(../img/office-movies-tablet-bg@1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo-block-office-movies {
      background-image: url(../img/office-movies-tablet-bg@2x.jpg);
    }
  }

}

@media @desktop-widths {

  .promo-block-office-movies {
    margin-bottom: 60px;
    padding-top: 53px;
    padding-bottom: 53px;

    background-image: url(../img/office-movies-desktop-bg@1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo-block-office-movies {
      background-image: url(../img/office-movies-desktop-bg@2x.jpg);
    }
  }

}
