.social-icon {
  margin-right: 10px;

  font-size: 0;

  &:hover  {
    fill: red;
  }

  &:focus  {
    fill: red;
  }

  &:active  {
    opacity: 0.5;
  }
}

.social-icon:last-child {
  margin-right: 0;
}
