.social-icons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 73px;
}

.social-icons--footer {
  margin-bottom: 0;

  justify-content: center;
}
